*.class
.*.swp

# Package Files #
*.war
*.ear

# Build files
target/
dependency-reduced-pom.xml

# Intellij Files & Dir #
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
out/
.DS_Store
./lib/
.idea

# Python files
*.pyc
